body{
    min-height: 100vh;
    display: grid;
    gap: 3rem;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: minmax(3rem , 4rem) minmax(3rem , auto) minmax(3rem , 4rem);
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}