main .hero {
    height: calc(100vh - var(--margin-top-header) - var(--heigth-header));
}

.hero {
    padding: 0 2rem 3rem 2rem;
}

.hero .container-hero {
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.container-hero .container-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-right: 1px solid white;
}

.container-hero .hero-informacoes {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color: white;
}

.hero-informacoes .awesome .list-icon{
    display: flex;
    gap: 2rem;
}